<div class="container bg-light py-5">
  <h1 class="display-5 fw-bold">Welcome to the personality test app</h1>
  <p class="col-md-8 fs-4">This test contains a total of 5 questions</p>
  <p class="col-md-8 fs-4">Refreshing the page will reset the test</p>
  <div class="name col-md-4 my-3">
    <label>Enter your name:</label>
    <input #name type="text" class="form-control">
  </div>
  <button class="btn btn-primary btn-lg" routerLink="/question" (click)="startTest()">
    Start the Test
  </button>
</div>
